<div class="card col-auto">
  <div class="card-header text-center row">
    <div class="col align-center">
      <h5>History <span class="badge badge-secondary">{{history.length}}</span> </h5>
    </div>
    <div class="col align-center">
      <button class="btn btn-outline-danger" type="button"(click)=onDelete()>Delete History</button>
    </div>
  </div>
  <div class="card-body">
    <div *ngFor="let video of history" >
      <a class="text-white btn btn-danger"(click)=onLoad(video)>{{video.url}}</a>
    </div>
    <a class="dropdown-item text-danger disabled" href="#" *ngIf="history.length === 0">Start watching to fill history !</a>

  </div>
</div>
