<div class="row btn-group mr-5">
  <div class="dropdown btn-group">
    <a class=" btn btn-outline-danger dropdown-toggle align-bottom" data-toggle="dropdown">
      Bookmarks
      <span class="badge badge-danger">{{bookmarks.length}}</span>
    </a>
    <div class="dropdown-menu">
      <span class="btn-group dropdown-item" *ngFor="let video of bookmarks">
        <a class="text-white btn btn-danger"(click)=onLoad(video)>{{video.url}}</a>
        <a class="btn btn-outline-danger" (click)=onDelete(video)>x</a>
      </span>
      <a class="dropdown-item text-danger disabled" href="#" *ngIf="bookmarks.length === 0">No bookmark ! (yet :) )</a>
    </div>
  </div>
  <a class=" btn btn-danger" (click)=onSave()>+</a>
</div>
