<form class="form-inline input-group" (submit)="onVideoUrlSubmit(input_video_url.value)">
    <input class="form-control col-10" placeholder="Enter Youtube Url" id="input-url" type="text" #input_video_url>
    <label class="sr-only" for="input-url">Youtube URL</label>
    <label class="sr-only" for="input-url">Submit Youtube URL</label>
    <button class="form-control col-2 input-group-append btn btn-primary" type="submit" name="button">Load</button>
</form>
