<!--The content below is only a placeholder and can be replaced.-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-light shadow-lg">
      <a class="navbar-brand text-danger" href="#">Custom Youtuber Player</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div id="navbarContent" class="collapse navbar-collapse ">
        <ul class="navbar-nav container">
          <li class="nav-item">
            <app-bookmarks></app-bookmarks>
          </li>
        </ul>
      </div>
  </nav>

  <main class="row">
    <aside class="col-s4">

      <app-history></app-history>
    </aside>

    <section class="col-sm">
      <div class="container">
        <div class="mt-5">
          <app-search-bar></app-search-bar>
        </div>
        <div class="mt-5">
          <app-video-view></app-video-view>
        </div>
      </div>

    </section>

  </main>

<router-outlet></router-outlet>
